<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../CSS/utility.css">
        <link rel="stylesheet" href="../CSS/google-font.css">

        <title>Footer</title>
    </head>
    <body>
        <footer
            class="footer-flex  footer-center footer-color footer-col">

            <div class="top-footer footer-flex footer-row footer-padd">

                <div>
                    <ul class="   footer-flex footer-gap footer-col">

                        <li class="footer-li-Primary">ABOUT </li>
                        <li class="footer-li-secondry">Contact Us</li>
                        <li class="footer-li-secondry">About Us</li>
                        <li class="footer-li-secondry">Careers</li>
                        <li class="footer-li-secondry">Flipkart Stories</li>
                        <li class="footer-li-secondry">Press</li>
                        <li class="footer-li-secondry">Flipkart Wholesale</li>
                        <li class="footer-li-secondry">Cleartrip</li>
                        <li class="footer-li-secondry">Corporate Information</li>

                    </ul>

                </div>

                <div>
                    <ul class=" footer-flex footer-gap footer-col">
                        <li class="footer-li-Primary"> HELP </li>
                        <li class="footer-li-secondry"> Payments</li>
                        <li class="footer-li-secondry"> Shipping</li>
                        <li class="footer-li-secondry"> Cancellation & Returns</li>
                        <li class="footer-li-secondry"> FAQ</li>
                        <li class="footer-li-secondry"> Report Infringement</li>
                    </ul>
                </div>

                <div>
                    <ul class="footer-flex footer-gap footer-col">
                        <li class="footer-li-Primary"> CONSUMER POLICY </li>
                        <li class="footer-li-secondry"> Cancellation & Returns
                        </li>
                        <li class="footer-li-secondry"> Terms Of Use </li>
                        <li class="footer-li-secondry"> Security </li>
                        <li class="footer-li-secondry"> Privacy </li>
                        <li class="footer-li-secondry"> Sitemap </li>
                        <li class="footer-li-secondry"> Grievance Redressal
                        </li>
                        <li class="footer-li-secondry"> EPR Compliance </li>
                    </ul>
                </div>

                <div>
                    <ul class="footer-flex footer-gap footer-col">
                        <li class="footer-li-Primary"> SOCIAL </li>
                        <li class="footer-li-secondry"> Facebook </li>
                        <li class="footer-li-secondry"> Twitter </li>
                        <li class="footer-li-secondry"> YouTube </li>
                    </ul>
                </div>

                <hr style="height: 125px">
                <div class="footer-col footer-flex ">

                    <span class="footer-li-Primary">Mail Us:</span>

                    <p>
                        Flipkart Internet Private Limited,</p>

                    <p>Buildings Alyssa, Begonia &</p>
                    <p> Clove Embassy Tech Village,</p>
                    <p> Outer Ring Road, Devarabeesanahalli Village,</p>
                    <p> Bengaluru, 560103,</p>
                    <p>Karnataka, India</p>

                </div>

                <div>
                    <span class="footer-li-Primary">
                        Registered Office Address:
                    </span>

                    <p> Flipkart Internet Private Limited, </p>
                    <p> Buildings Alyssa, Begonia & </p>
                    <p> Clove Embassy Tech Village, </p>
                    <p> Outer Ring Road, Devarabeesanahalli Village, </p>
                    <p> Bengaluru, 560103, </p>
                    <p> Karnataka, India </p>
                    <p> CIN : U51109KA2012PTC066107 </p>
                    <p> Telephone: 044-45614700 </p>
                </div>

            </div>

            <hr class="footer-flex " style="padding: 0px 0px;">
            <div class="bottom-footer">
                <img src="../Image/footer.png" alt>
            </div>

        </footer>

        <style>


            .bottom-footer >img{
                width: 75%;
                height: 70%;
                cursor: pointer;

            }
      

    </style>
    </body>
</html>