<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Sign up</title>
        
        <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
        <link rel="stylesheet" href="../CSS/signup.css">
        <link rel="stylesheet" href="../CSS/utility.css">
    </head>
    <body>
        <div id="container">

        </div>

        <div class="">
            <div class="" id="outerbox">
                <div class="box-m42p" id="innerbox">
                    <div class="right_box"><span style="color: white ; font-size: 1.5rem; font-weight:800 ; display: block ; margin-bottom:35px ;">
                        Looks like you're new here!

                    </span>
                    <span style="color: white ; font-size: 1rem;  ; display: block;">
                        Sign up with your mobile number to get started
                    </span>
                    <img src="../Image/Signup.png" alt="" style="margin-top: 95px; font-size: 15px;">
                    

</div>
                    <div class="left-box">
                 
                        <input type="text" placeholder="Enter Mobile name" title="Enter Mobile number">
                        <hr>
                            <input type="number" placeholder="Enter Mobile No" title="Enter Mobile No">
                            <hr>
                       <span class="m12p">
                        By continuing, you agree to Flipkart's 

                      Terms of Use and Privacy Policy
                       </span>
                       <button  style="background: #fb641b;">
                        <span"> CONTINUE</span>
                       
                       </button>
                        <button style="box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px; background-color: white;">
                            <span> Existing User? Log in</span>
                       
                       </button>
                    </div>

                    </div>
                
            </div>

            </div>
        </div>


    </body>
    <script>
    $(function(){
  $("#container").load("./navbar.html");
});

</script>
</html>