.container{
    display: flex;
    align-items: center;
    background-color: aqua;
    width: 100vw;
    height: 100vh;
    justify-content: center;
}

.calculator{
    display: flex;
    align-items: center;
    background-color: blueviolet;
    width: 250px;
    height: auto;
    padding: 20px 18px;
    flex-direction: column;
    flex-wrap: wrap;

}

input{
    width: 100%;
    height: 45px;
}

.mini_container >{
    width: 100%;
    background-color: brown;
    height: fit-content;
 
 

}


.mini_container >button{
    padding: 15px 14px;
    border-radius: 5%;
    font-size: 1.5rem;
    margin: 4px 4px;
    
 

}