* {
  margin: 0;
  padding: 0;
}

h2::selection {
  background-color: black;
  color: #fff;
}
@font-face {
  font-family: Futura;
  src: url(../Fonts/Futura-Bold.ttf);
}
html,
body {
  width: 100%;
  height: 100%;
  background-color: #fff;
  color: black;
  box-sizing: border-box;
}

#Play {
  height: 15px;
  width: 15px;
  color: white;
  display: flex;
  padding: 25px 25px;
  align-items: center;
  justify-content: center;
  background-color: black;
  border-radius: 50%;
  position: fixed;
  top: 0;
  z-index: 3;
  opacity: 0;
  scale: 0;
  transition: all ease-in 0.02s;
}

/* #cursor{
    height: 35px;
    width: 35px;
    background-color: black;
} */

main {
  padding: 0px 12px;
}

#page1 {
  padding-top: 15vh;
  width: 100%;
  min-height: 100vh;
  position: relative;
  z-index: 1;
}

#page1 h2 {
  font-size: 14vw;
  font-family: Futura;
  line-height: 28vh;
  letter-spacing: -2px;
}

#video-container {
  height: 100vh;
  width: 97%;
  z-index: 2;
  margin-top: 1vh;
  position: relative;
}

#video-container video {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

#page2 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
  
}

#Page2-container {
  display: flex;
  margin-top: 12px;
  width: 100%;
  height: 100%;
  gap: 12px;
  padding: 0% 1.5%;
}

#page2 .elem {
  width: 100%;
  height: 100%;
  display: flex;

  position: relative;

  /* background-color: red; */
}

.elem img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.shop {
  display: flex;
  transform: translateX(-50% -50%);
  position: absolute;
  top: 40%;
  justify-content: center;
  width: 100%;
  background-color: red;
}

.shop-container {
  width: 70%;
  height: 50px;
  display: flex;

  overflow: hidden;
  border-top-right-radius: 50px;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 50px;
  flex-direction: column;
  background-color: #e5f0d6;
  transition: all ease-out 0.10s;
}

.shop-container:hover {
  height: 100%;

}

.shop-top {
  display: flex;
  /* background-color: rgb(0, 255, 166); */
  width: 100%;
  height: 50px;
  align-items: center;
  justify-content: space-between; 
  padding: 12px 0px;
  overflow: hidden;
}

.shop-bottom {
  width: 100%;
  height: 180px;
  
  /* background-color: aqua; */
}


.shop-bottom img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* .shop span {
width: 100%;
} */

#page3 {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  align-items: center;
  background-color: antiquewhite;
  justify-content: space-between;
}



@media screen and(max-width:700px) {


  #page1 {
  padding-top: 25vh;
  padding: 0px 3vw;
  width: 100%;

  
}

  #page1 h2 {
  font-size: 6vw;
  font-family: Futura;
  line-height: 12vh;
  letter-spacing: -2px;
}
  
}



@media screen and(max-width:400px) {

    #page1 {
  padding-top: 35vh;
  padding: 0px 5vw;
  width: 100%;

  
}

  #page1 h2 {
  font-size: 2vw;
  font-family: Futura;
  line-height: 0vh;
  letter-spacing: -2px;
}
  
}